.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Styles for selected button */
input[type="radio"]:checked + label p{
  background-color: #000;
  border-color: #000;
  color: #fff;
}

.active-link {
  color: red; /* Change this to your desired active link color */
  font-weight: bold; /* Optionally, make the active link bold */
}

.feedback-icon {
  cursor: pointer;
  transition: color 0.3s;
    font-size: 1.5rem; /* Adjust font size as needed */

}
.feedback-icons {
  cursor: pointer;
  transition: color 0.3s;
    font-size: 1.5rem; /* Adjust font size as needed */

}
.feedback-icon:hover {
  color: #ff4500; /* Change color on hover (adjust as needed) */
}

.feedback-icon.liked {
  color: #ff4500; /* Liked color */
}

.feedback-icon.saved {
  color: #3498db; /* Saved color */
}
